/* div
/* body {
    margin: 3%;
    height: 70%;
    text-align: center;
} */

header {
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white; 
    border: 2px solid rgb(92, 138, 94);
    border-radius: 5px;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

button#send_message {
    display: inline-block;
    /* height: 100%; */
    width: 10%;
    text-align: center;
}

div#change_username {
    width: 100%;
    /* height: 200px; */
    background: rgb(213, 215, 216);
    margin: auto;
    padding: 5px;
    height: 80px;
}
div#box {
    height: 10%;
    width: 10%;
    display: inline-block;
    background-color: rgb(158, 156, 179);
    align-content: center;
}

div#chatroom {
    align-content: center;
}

section#chatroom {
    /* border: 5px ; */
    min-height: 20%;
    /* width: 50%; */
    background-color: rgb(200, 200, 230);
    padding: 8px;
    border: 3px  rgb(74, 123, 179);
    /* display: block; */
    /* text-align: left; */
}

div#one {
    width: 35%;
    /* height: 100x; */
    /* background: red; */
    float: left;
    /* height: 100%; */

}
div#two{
    margin-left: 35%;
    /* height: 200px; */
    /* background: black; */
    float: right;
    /* height: 100%; */
}


/* .vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */

input#username {
    font-family: 'Comfortaa', sans-serif;
    font-size: 3vh;
}

input#message {
    display: inline;
    /* width: 65%; */
    /* height: 60%; */
    font-family: 'Comfortaa', sans-serif;
    font-size: 3vh;

}



    

p#message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-weight: regular;
    font-size: 14px;
    font-family: arial, sans-serif;
    padding: 1vh;
}

span#message {
    text-align: left;
}

span#username {
    text-align: right;
}



.message:nth-child(even) {
    background-color: rgb(230, 240, 240);
}

.message:nth-child(odd) {
    background-color: rgb(210, 230, 230);
}


