
.body {
    text-align: center;
    border-spacing: 5px;
}

.margem {
  margin-inline-start: 10%;
  margin-inline-end: 10%;
  padding: 5px;
  margin-top: 5%;
}

.loginboard {
    padding: 6px;
    width: 350px;
    text-align: center;
    border: 3px solid #5fadb8;
    background-color: rgb(168, 206, 180);
    border-radius: 20px;
}

.container{
    width: 90%;
}
.board {
    border-radius: 20px;
    margin: 0 auto;
    color: white;
    display: inline-block;
    border: 1px solid #5fadb8;
    padding: 10px;
    background-color: rgba(230, 230, 230, 0.877);
    color:black;
}


div.menu {
    background-color: #333;
    text-align: center;
    /* width: 60%; */
    /* float: inline-end; */
    border-radius: 10px;
    padding: 10px;
    /* margin-inline-start: 20%; */
    margin-top: 1%;
}

div.itens {
    background-color: #333;
    /* white-space: nowrap; */
    float: center;
    padding-block-start: 4px; 
    padding-left: 5px;
    /* height: 50px; */
}

div.logged_user {
    background-color: #333;
    white-space: nowrap;
    float: right;
    height: 14px;
    margin-top: 7px;
    font-size: 4 ;
}
  
div.itens a, div.logged_user a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

div.logged_user a:hover{
  background-color: #777;
  border-radius: 10px;
}
  
div.scrollmenu a:hover {
    background-color: #777;
}

div#field{
    text-align: justify;
    display: inline;
}
div#inputFile{
    text-align: right;
    display: inline;
    float: left;
}
div#fileSize{
    text-align: right;
    display: inline;
    float: center;
}
div#fileType{
    text-align: right;
    display: inline;
    float: center;
}

 /* .rm-progress{
    width: 100%;
    margin-left: -11.5%;
    height: 3px;
    background-color: #0091EA;
    color: white;
} */
 

progress {
    border-radius: 2px; 
    width: 100%;
    height: 5px;
    background-color: black;
    /* margin-left:-11.5%; */
  }
  progress::-webkit-progress-bar {
    background-color: rgb(102, 119, 156);
    border-radius: 2px;
  }
  progress::-webkit-progress-value {
    background-color: rgb(27, 56, 134);
    background-color: white;
     border-radius: 2px; 
  }
  progress::-moz-progress-bar {
    /* style rules */
  }