<html>
    <head>
            <% include partials/head %>
    </head>
    <body id='body'>
            <% include partials/menu %>
        <h1> Admin Pages loaded with jwt auth sucessfully</h1>
    </body>
</html>