<html id='html'>
<head>
        <% include partials/head %>        
        <% include partials/menu %>
       
</head>
<body id='body'>
        <div id="jwtJSON" style="display:flex">{"sucess":false,"token":null,"err":"Username or password is incorrect"}</div>
        <h3 class="text-center">Cdshell Login</h3>
        <button type="button" class="btn btn-primary center-block" onclick="logout();" >Logout</button>
        <div id='container' >
        </div>
        <div class="board margem">
               <div class="form-group">
                
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button type="button" class="btn btn-primary center-block" onclick="login()">Login</button>
           
            <div id="token-display">
            </div>
        </div>
        </br>
        </br>
        <div class="board margem">
            <form>
                <div class="form-group">
                    <label for="token">Username</label>
                   
                    <input class="form-control" id="token" placeholder="token" type="text"></input>
                </div>
                <button type="button" class="btn btn-primary center-block" onclick="getlist()">Get List</button>
            </form>
            <div id="list">
            </div>
        </div>
        <div id='result' class="board margem">
                <form>
                    <div class="form-group">
                        <label for="token">Root Page</label>
                       
                    </div>
                    <button type="button" class="btn btn-primary center-block" onclick="getRoot()">Get Root</button>
                </form>
                <div id="root">
                </div>
            </div>
            <button type="button" class="btn btn-primary center-block" onclick="setToken(document.getElementById('jwtJSON').innerHTML )">Set token</button>
            <button type="button" class="btn btn-primary center-block" onclick="getURL_inBody('./admin')">Load admin</button>

        <script type="text/javascript">

            
            function loadRootPage() {
                document.getElementById("root").innerHTML = this.responseText;
            }

            
            getlist= function(){
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (xhttp.readyState==4) {
                        var response = JSON.parse(xhttp.responseText);
                        var ul=document.createElement("ul");
                        for(var i=0;i<response.users.length;i++){
                            var li=document.createElement("li");
                            li.appendChild(document.createTextNode(response.users[i].name));
                            ul.appendChild(li);
                        }
                        document.getElementById("list").appendChild(ul);
                    }
                };
                xhttp.open("POST", "https://192.168.15.3/getusers", true);
                xhttp.setRequestHeader("Content-type", 'application/x-form-urlencoded; charset=UTF-8');
                var token = {}
                token = document.getElementById("codigo").innerHTML 
                
                //console.log(token);
                xhttp.setRequestHeader( 'Authorization', 'Bearer ' + token );
                xhttp.send();
              
                
                
            }
            getRoot = function(){
                var xhttp = new XMLHttpRequest();
                // xhttp.onreadystatechange = function() {
                //     if (xhttp.readyState==4) {
                //         var response = JSON.parse(xhttp.responseText);
                //         var ul=document.createElement("ul");
                //         for(var i=0;i<response.users.length;i++){
                //             var li=document.createElement("li");
                //             li.appendChild(document.createTextNode(response.users[i].name));
                //             ul.appendChild(li);
                //         }
                //         document.getElementById("root").appendChild(ul);
                //     }
                // };
                xhttp.open("GET", "https://192.168.15.3/", true);
                xhttp.setRequestHeader("Content-type", 'application/x-form-urlencoded; charset=UTF-8');
                var token = {}
                jwtJSON = document.getElementById("jwtJSON").innerHTML 
                
                //console.log(token);
                xhttp.setRequestHeader( 'Authorization', 'Bearer ' + token );
                xhttp.send();
                xhttp.onload = loadRootPage
                
                
            }
        </script>
       
    <!-- </body>
</html> -->

